p,
h1 {
  font-family: poppins;
}
body {
  cursor: context-menu;
}
.contentDiv {
  /* border: 1px solid red; */
  /* background-color: black; */
  /* background-image: "url(/image.png)", */
  /* background-image: url(../assets/pbg1.jpg); */
  /* background-size: cover; */
  /* background-color: #005096 ; */
  /* background: url(../assets/sample.mp4); */

  /* opacity: 0.5; */
  width: 98%;
  justify-content: center;
  align-items: center;
  cursor: context-menu;

  height: 100vh;
  position: relative;
  /* margin: 64px 2px; */
  margin: 20px auto;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
}
.videoContainer{
  /* position: relative; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.videoContent{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  /* position: ; */
  top: 100px;
  left: 0;
}

.sectionOne {
  position: absolute;
  margin-top: 0;
  display: flex;
  /* border: 1px solid #fff; */
  box-shadow: 1px 1px 10px 10px #707070;
  /* background-color: hsl(180, 100%, .5); */
  border-radius: 20px;
  height: 600px;
  width: 95%;
  align-items: center;
  justify-content: space-around;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  z-index: 1;
}

.textPart {
  /* border: 1px solid #000; */
  width: 40%;
  display: block;
  gap: 10px;
}
.welcome {
  background-color: #000;
  border: 1px solid #fff;
  color: aliceblue;
  font-family: poppins;
  font-size: 22px;
  margin: 8px;
  border-radius: 20px;
  width: 55%;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.welcome p {
  font-family: poppins;
  align-items: center;
  justify-content: center;

  /* padding: -10px 20px; */
  display: flex;
  margin-top: 10px;
}
.nameAndAnimation {
  line-height: 23px;
}

.nameAndAnimation h2 {
  font-size: 40px;
}
.aboutMeText {
  margin-top: 30px;
}
.aboutMeText p {
  font-size: 20px;
  /* margin-top: 20px; */
  font-family: poppins;
  line-height: 32px;
}
.connectDiv {
  display: flex;
  gap: 8px;
  align-items: center;
  /* border: 2px solid #fff;
  width: 209px; */
}
.connectDivLink {
  border: 2px solid #fff;
  width: 209px;
  height: 46px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  border-radius: 31px;
  gap: 8px;
  /* background-color: #000; */

  color: #fff;
  transition: all ease-in-out 0.5s;

  transition: all ease-in-out 0.5s;
}

.connectDivLink :hover {
  transition: all ease-in-out.5s;
  /* margin-left: 10px; */
  /* width: 289px; */
  text-shadow: 10px 10px 20px rgb(255, 255, 255);
  box-shadow: 10px 10px 8px rgb(255, 255, 255);
  background-color: red;
  color: #000 !important;
  background-position: left bottom;
}
.connectDiv a {
  /* color: #fff; */
  display: flex;
  align-items: center;
  font-weight: bolder;
  gap: 18px;
  transition: all ease-in-out 0.5s;
  background: linear-gradient(to right, #707070 50%, #121212 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}

.connectDiv a:hover {
  transition: all ease-in-out.5s;
  margin-left: 10px;
  width: 210px;
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
  background-color: #fff;
  color: #000 !important;
  background-position: left bottom;
}
.imageDiv {
  position: relative;
  width: 25%;
  animation: bounce 1s ease-in-out;
  transform: translateZ(0px);
  animation-iteration-count: infinite;
  margin: 50px;
  height: 340px;
  margin-top: -39px;
  -webkit-animation: bounce 1s ease-in-out;
}
img{
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.imgs {
  width: 380px;
  height: 380px;
  border-radius: 300px;
  position: absolute;
 
}
@keyframes bounce {
  0% {
    left: 0px;
    -webkit-animation-timing-function: ease-in;
  }
  40% {
  }
  50% {
    left: 100px;
    height: 40px;
    -webkit-animation-timing-function: ease-out;
  }
  55% {
    left: 160px;
    height: 110px;
    -webkit-animation-timing-function: ease-in;
  }
  65% {
    left: 120px;
    height: 140px;
    -webkit-animation-timing-function: ease-out;
  }
  95% {
    left: 0;
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    left: 0;
    -webkit-animation-timing-function: ease-in;
  }
}

/* MEDIA QUERY */

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 1200px) {
  /*Big smartphones [426px -> 600px]*/

  .textPart {
    /* border: 1px solid #000; */
    width: 100%;
    padding: 21px;
    display: block;
    gap: 10px;
}
.imgs{
  width: 159px;
  height: 160px;
  border-radius: 300px;
  position: absolute;
  margin-top: 148px;
}

}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .contentDiv {
    /* border: 1px solid red; */
    padding: 2px;
    margin: 50px auto auto auto;
    height: auto;
    /* position: relative; */
  }
  .videoContainer{
    margin-top: -100px;
  }

  .sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 80px;
    height: 580px;
  }
  .textPart {
    /* border: 1px solid #000; */
    width: 95%;
    padding: 10px;
  }
  .welcome {
    background-color: #000;
    /* border: 1px solid #fff; */
    color: aliceblue;
    font-family: poppins;
    font-size: 22px;
    margin: 0;
    width: 89%;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .welcome p {
    font-family: poppins;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    margin-top: 18px;
  }
  .nameAndAnimation {
    line-height: 13px;
  }
  .nameAndAnimation h2 {
    width: 300px;
    line-height: 1;
    font-size: 30px;
    font-family: poppins;
  }
  .aboutMeText p {
    margin-top: 20px;
    font-family: poppins;
  }
  .connectDivLink {
    border: 2px solid #fff;
    width: 160px;
    height: 39px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 31px;
    gap: 10px;
    background-color: #000;

    color: #fff;
    transition: all ease-in-out 0.5s;
    background: linear-gradient(to right, white 50%, #121212 50%);
    background-position: right bottom;
    background-size: 200% 100%;
  }

  .connectDivLink :hover {
    transition: all ease-in-out.5s;
    /* margin-left: 10px; */
    /* width: 289px; */
    text-shadow: 10px 10px 20px rgb(255, 255, 255);
    box-shadow: 10px 10px 8px rgb(255, 255, 255);
    background-color: #fff;
    color: #000 !important;
    background-position: left bottom;
  }
  .connectDiv a {
    /*color: #fff;
  */
    display: flex;
    font-size: 16px !important;
    align-items: center;
    gap: 18px;
    transition: all ease-in-out 0.5s;
    background: linear-gradient(to right, white 50%, #121212 50%);
    background-position: right bottom;
    background-size: 200% 100%;
  }

  .connectDiv a:hover {
    transition: all ease-in-out.5s;
    margin-left: 10px;
    width: 170px;
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
    box-shadow: 0px 0px 8px rgb(255, 255, 255);
    background-color: #fff;
    color: #000 !important;
    background-position: left bottom;
  }
  .imageDiv .img {
    width: 260px !important;
    height: 279px;
    margin-top: 20px;
    margin-left: -38px;
    border-radius: 140px;
    -webkit-border-radius: 140px;
    -moz-border-radius: 140px;
    -ms-border-radius: 140px;
    -o-border-radius: 140px;
    display: flex;
    justify-content: center;
    position: absolute;
  }
  .imageDiv {
    position: relative;
    visibility: hidden;
    width: 25%;
    animation: bounce 1.5s;
    /* transform: translateZ(0px); */
    animation-iteration-count: 2;
    /* margin: 50px; */
    height: 340px;
    margin-top: 0;
   
  }
  @keyframes bounce {
    0% {
      top: 0px;
      -webkit-animation-timing-function: ease-in;
    }
    40% {
    }
    50% {
      top: 140px;
      height: 140px;
      -webkit-animation-timing-function: ease-out;
    }
    55% {
      top: 160px;
      height: 120px;
      -webkit-animation-timing-function: ease-in;
    }
    65% {
      top: 120px;
      height: 140px;
      -webkit-animation-timing-function: ease-out;
    }
    95% {
      top: 0;
      -webkit-animation-timing-function: ease-in;
    }
    100% {
      top: 0;
      -webkit-animation-timing-function: ease-in;
    }
  }

  
}
