p,
h1 {
  font-family: poppins;
}
body{
  cursor: context-menu;
}
.parentDiv {
  /* border: 1px solid red; */
  /* background-color: black; */
  /* background-image: "url(/image.png)", */
  background-image: url(../assets/pbg1.jpg);
  background-size: cover;
  background-color: #000;
  /* opacity: 0.5; */
  width: 98%;
  justify-content: center;
  align-items: center;
  cursor: context-menu;

  height: 100vh;
  position: relative;
  /* margin: 64px 2px; */
  margin: 64px auto;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
}

.sectionOne {
    margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.textPart {
  /* border: 1px solid #000; */
  width: 40%;
  display: block;
  gap: 10px;
}
.welcome{
    background-color: #000;
    border: 1px solid #fff;
    color: aliceblue;
    font-family: poppins;
    font-size: 22px;
    margin: 8px;
    border-radius:20px;
    width: 55%;
    align-items: center;
    justify-content: center;
    height: 55px;
   
}

.welcome p{
    font-family: poppins;
    align-items: center;
    justify-content: center;
   
    /* padding: -10px 20px; */
  display: flex;
  margin-top: 10px;
  }
  .nameAndAnimation{
    line-height: 23px;
}

.nameAndAnimation h2{
    font-size: 40px;
}
.aboutMeText{
    margin-top: 30px;
}
.aboutMeText p{
    font-size: 20px;
    /* margin-top: 20px; */
    font-family: poppins;
   line-height: 32px;
 }
 .connectDiv{
  display: flex;
  gap: 8px;
  align-items: center;
  /* border: 2px solid #fff;
  width: 209px; */
 }
 .connectDivLink{
  border: 2px solid #fff;
  width: 209px;
  height: 46px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  border-radius: 31px;
  gap: 8px;
  /* background-color: #000; */
  
  color: #fff;
  transition: all ease-in-out .5s;

 
  transition: all ease-in-out .5s;
  
}



 .connectDivLink :hover{
  transition: all ease-in-out.5s;
  /* margin-left: 10px; */
  /* width: 289px; */
  text-shadow:10px 10px 20px rgb(255,255,255);
     box-shadow:10px 10px 8px rgb(255,255,255);
     background-color: red;
     color: #000 !important;
     background-position: left bottom;
 
}
 .connectDiv a{
  /* color: #fff; */
  display: flex;
  align-items: center;
  font-weight: bolder;
  gap: 18px;
  transition: all ease-in-out .5s;
  background: linear-gradient(to right, #707070 50%, #121212 50%);
    background-position: right bottom;
    background-size: 200% 100%;

 }

 .connectDiv a:hover{

  transition: all ease-in-out.5s;
  margin-left: 10px;
  width: 210px;
  text-shadow:0px 0px 8px rgb(255,255,255);
     box-shadow:0px 0px 8px rgb(255,255,255);
     background-color: #fff;
     color: #000 !important;
     background-position: left bottom;
 }
.img{
   border-radius: 300px;
   animation: bounce 1s;
  
   
}


/* MEDIA QUERY */

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .parentDiv {
    /* border: 1px solid red; */
    padding: 2px;
    margin: 34px 0px;
    height: auto;
    position: relative;
  }

  .sectionOne {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .textPart {
    /* border: 1px solid #000; */
    width: 95%;
    padding: 10px;
  }
  .welcome {
    background-color: #000;
    /* border: 1px solid #fff; */
    color: aliceblue;
    font-family: poppins;
    font-size: 22px;
    margin: 0;
    width: 89%;
    height: 48px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .welcome p{
    font-family: poppins;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
    margin-top: 18px;
  }
.nameAndAnimation{
    line-height: 13px;
}
.nameAndAnimation h2{
  width: 300px;
  line-height: 1;
    font-size: 30px;
    font-family: poppins;
}
 .aboutMeText p{
    margin-top: 20px;
    font-family: poppins;
 }
 .connectDivLink{
  border: 2px solid #fff;
  width: 160px;
  height: 39px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 31px;
  gap: 10px;
  background-color: #000;

  
  
  color: #fff;
  transition: all ease-in-out .5s;
  background: linear-gradient(to right, white 50%, #121212 50%);
    background-position: right bottom;
    background-size: 200% 100%;
}



 .connectDivLink :hover{
  transition: all ease-in-out.5s;
  /* margin-left: 10px; */
  /* width: 289px; */
  text-shadow:10px 10px 20px rgb(255,255,255);
     box-shadow:10px 10px 8px rgb(255,255,255);
     background-color: #fff;
  color: #000 !important;
  background-position: left bottom;
 
}
 .connectDiv a{
  /*color: #fff;
  */display: flex;
  font-size: 16px !important;
  align-items: center;
  gap: 18px;
  transition: all ease-in-out .5s;
  background: linear-gradient(to right, white 50%, #121212 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}

 .connectDiv a:hover{

  transition: all ease-in-out.5s;
  margin-left: 10px;
  width: 170px;
  text-shadow:0px 0px 8px rgb(255,255,255);
     box-shadow:0px 0px 8px rgb(255,255,255);
     background-color: #fff;
  color: #000 !important;
  background-position: left bottom;
 }
 .imageDiv img{
  width: 340px !important;
  height: 350px;
  margin-top: 20px;
  margin-left: 8px;
  border-radius: 140px;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  -ms-border-radius: 140px;
  -o-border-radius: 140px;
  display: flex;
  justify-content: center;
}}
