.grandParentDiv{
  width: 100%;
  background-color: #21293f;
  /* background-image: url(../assets/pbg1.jpg); */
  height: 400px;
  display: flex;
  align-items: center;
  margin-top: -22px;
}

.parentDiv{
    /*border: 1px solid red;
    *//*display: flex;
    */background-color: #005096;
    width: 88%;
    margin: 80px auto auto auto;
    border-radius:20px ;
    /*padding: 20px;
    *//*justify-content: space-between;
    */
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
}
.box1{
    /* border: 1px solid #fff; */
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}

.copy{
    /* border: 1px solid blue; */
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.copy p{
    /* margin-top: -80px; */
    color: #fff;
}

.iconDivParent{
  justify-content: center;
  align-items: center;
  margin: -30px  auto auto auto;
  /* margin-top: -10px; */
  width: fit-content;
  /* border: 2px solid red; */
}

.iconDiv{
  display: flex;
  gap: 30px;
  align-items: center;
}
.iconDiv a{
font-size: 10px;
}
.iconDiv a:hover{
background-color: aqua;
}




.Icons {
  /* height: 40px;
  width: 40px; */
  display: flex;
  align-items: center;
  font-size: 45px;
  background: linear-gradient(45deg, white 0%, #121212 10%);
  border-radius: 20px;
  background-size: 200% 100%;

  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  transition: background-size 0.5s, color 0.5s;
  background-size: 0 0;
  background-position: 50% 50%;
  border-radius: 30px;
}
.Icons:hover {
  color: rgba(34, 164, 116, 1);
  /* background: linear-gradient(45deg, rgba(34,164,116,1) 0%, rgba(41,47,143,1) 100%); */

  background-size: 100% 100%;
}







@media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/
  }
  @media only screen and (max-width: 900px) {
    /*Big smartphones [426px -> 600px]*/

 
  }
  @media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px] */
    .grandParentDiv{
      margin-top: 10px;
      height: 260px;
    }
    .parentDiv{
        /* width: 98%; */
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    .box1{
        /* border: 1px solid red; */
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

  .box1 img{
    width: 100px;
    margin: 0 auto;
  }
  .copy{
    width: 250px;
    margin-top: 10px;
  }
  .iconDiv{
    gap: 10px;
  }

  .Icons {
    /* height:20px;
    width: 20px; */
    font-size:40px;
  }
  .copy p{
    text-align: center;
  }
  }