
h1,h2, h3, h4, h5, h6, p{
  font-family: poppins;
}
.pImage{
    width: 350px;
    height: 300px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.cardParentDiv{
    /* display: flex; */
    position: relative;
    border: 1px;

}
.descriptionDiv{
      /*background-color: aqua;
      */width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: -300px 0px;
      visibility: hidden;
      /*background: linear-gradient(to bottom, red 50%, white 50%);
      */
      background-position:right bottom;
      background-size: 200% 100%;
      border-radius: 20px;
      width: 100%;
      height: 93%;
      transform: translate(0%, 50%);
      transition: 0.5s ease-in-out;
      -webkit-transform: translate(0%, 50%);
      -moz-transform: translate(0%, 50%);
      -ms-transform: translate(0%, 50%);
      -o-transform: translate(0%, 50%);
}
.descriptionDiv h4{
   
   font-size:30px;
  
}
.descriptionDiv a{
    background-color: #000 !important;
    color: #fff;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    font-family: poppins;
    border: 2px solid #fff;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    background: linear-gradient(to right, white 50%, #121212 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    width: 140px;
    height: 35px;
    transition: ease-in-out 0.4s;
    transform: all linear 300ms ;
}
.btnAchn{
  background-color: aqua !important;
}
.linkDiv{
  /* background-color: red; */
}
.descriptionDiv a:hover{
  background-color: #fff;
  border: 5px solid #000;
  color: #000 !important;
  background-position: left bottom;
  border: 2px solid #000;
  margin-left: 40px;
  transition: linear 0.4s ;
  -webkit-transition: linear 0.4s ;
  -moz-transition: linear 0.4s ;
  -ms-transition: linear 0.4s ;
  -o-transition: linear 0.4s ;
}

.cardParentDiv:hover .descriptionDiv{
  visibility: visible;
  /*background-position: top;
  *//*transition: all linear 300ms;
  */background-color: hsla(340, 5%, 12%, 0.8);
  color: #fff;
  transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
}
  
/* MEDIA QUERRY */

@media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/
  }
  @media only screen and (max-width: 768px) {
    /*Big smartphones [426px -> 600px]*/
    

    .pImage{
      width: 300px;
    }
  }
  @media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px] */


    .descriptionDiv{
      /*background-color: aqua;
      */width: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: -230px 0px;}

    .descriptionDiv .description{
   
      font-size:10px;
     
   }
  
    .pImage{
        width: 132px;
        height: 230px;
        border-radius: 5px ;
       
}
  }