.cardDiv{
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    /* position: fixed; */
    
   
}
.cardText{
    display: flex;
    width: 50%;
    font-size: 15px;
    color: #fff;
    margin-top: -14px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 100px auto; */
}
.projectsCardDiv{
    display: flex;
    gap: 20px;
    cursor: pointer;
    flex-wrap: wrap;
    width: 98%;
    justify-content: center;
    line-height: 0;
    row-gap: 0;
    /* grid-row-gap: 0 */
}




@media only screen and (max-width: 1200px) {
    /*Tablets [601px -> 1200px]*/
  }
  @media only screen and (max-width: 768px) {
    .cardText{
      width: 80%;
    }
    /*Big smartphones [426px -> 600px]*/
  }
  @media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px] */
  
  


    .cardText{
      /* border: 1px solid red; */
        width: 350px;
        margin-top: 0;
        /* text-align: left; */
    }



    .projectsCardDiv{
      display: flex;
      gap: 20px;
      cursor: pointer;
      flex-wrap: wrap;
      /* width: 98%; */
      justify-content: center;
      line-height: 0;
      row-gap: 0;
      /* grid-row-gap: 0 */
  }
  }