.slideBox{
    background-color: #172D28;
    height: 300px;
    margin: 5px auto 30px auto;
    
    display: block;
    justify-content: center;
    align-items: center;
}
.hTitle{
    width: 18%;
    margin: 0 auto;
}
.skillBlock{
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    width: 300px;
    height: 70px;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    display: flex;
    gap: 1px;
    justify-content: center;
    align-items: center;
}
.imgs{
   width: 280px;
   height: 80px;
   filter: gray(100%);
  
}

.settingsDiv{
    display: flex;
    gap: 10px;
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 425px) {
    .slideBox{
        height: 150px;
    }
    .skillBlock{
        /* background-color: #000; */
        border: 1px solid #fff;
        color: #fff;
        width: 500px;
        height: 50px;
        font-size: 15px;
        text-align: center;
        font-weight: bolder;
        display: flex;
        gap: 1px;
        justify-content: center;
        align-items: center;
    }

    .hTitle{
        width: 60%;
        font-size: 18px;
        margin: 0 auto;
    }
    .imgs{
        width: 80px;
        height: 50px;
    } 
    
    .settingsDiv{
        width: 80%;
        margin: 0 auto;
    }
}